{% extends 'ons_layout.html' %}

{% block advanced_search %}
{% if advanced %}
<div class="search print--hide" id="searchBar">
<div class="wrapper" role="search">
<div class="col-wrap" >

    <label for="latest-publication" class="search__label2 col col--md-60 col--lg-60">
        <font size="-1" >    Prioritize latest publication: &ensp;
    <input type="radio" name="latest-publication" value='On' {% if advanced['latest-publication'] == 'On' %} checked {% endif %}> On &ensp;
    <input type="radio" name="latest-publication" value='Off' {% if advanced['latest-publication'] == 'Off' %} checked {% endif %}> Off   &ensp;
    <br>
    Filter by publication type: &ensp;
    <input type="checkbox" id="bulletins" name="bulletins" {% if 'bulletins' in advanced %} checked {% endif %}>
    Bulletins &ensp;
    <input type="checkbox" id="articles" name="articles" {% if 'articles' in advanced %} checked {% endif %}>
    Articles &ensp;
    <input type="checkbox" id="datasets" name="datasets" {% if 'datasets' in advanced %} checked {% endif %}>
    Datasets &ensp;
    <input type="checkbox" id="visualisations" name="visualisations" {% if 'visualisations' in advanced %} checked {% endif %}>
    Visualisations &ensp;
        </font></label>

</div>
</div>
</div>
{% endif %}
{% endblock %}


{% block results %}

{% if results %}

<section class="search__summary" role="contentinfo" aria-label="Search summary">
    <div aria-live="polite">
        Your question:
    <h4 class="ons-u-fs-xxl"> {{question}}</h4>
    </div>

</section>
<section role="contentinfo" aria-label="Search results">
    {% if results['answer'] not in ['NA', 'NA.', ''] %}
        <div class="search__sort">
            Most likely answer:
            <h4 class="ons-u-fs-xxl"> {{results['answer']}} </h4>
        </div>
        <p class="search__results__summary font-size--16">
        Answer based on following publication(s):
        </p>
    {% else %}
        <p class="search__results__summary font-size--16">
        Most relevant publication(s):
        </p>
    {% endif %}
    <ul class="flush--padding">
      {% for row in results['references'] %}
        <li class="search__results__item">
            <h3> <a href="{{ row['url'] }}">{{ row['title'] }}</a> </h3>
            <p class="search__results__meta font-size--16">
            <b>Released on:</b> {{row['date']}}  &nbsp;  | &nbsp;
            <b>Section: </b> <a href="{{row['section_url']}}"> {{ row['section'] }}</a>  &nbsp;  | &nbsp;
            <b>Relevance: </b> {{row['score']}}
            </p>
            <p class="search__results__summary font-size--16">
            <b>Context:</b>  {{row['page_content']}}
            </p>
            {% for image in row['figures'] %}
                {% if image['figure_type']=='interactive' %}
                <iframe height="300px" width="100%" src="{{image['figure_url']}}"></iframe>
                {% else %}
                <img src="{{image['figure_url']}}" alt="{{image['figure_title']}}"  style="height:300px">
                {% endif %}
            {% endfor %}

        </li>
      {% endfor %}
    </ul>
</section>
<section class="search__summary" role="contentinfo" aria-label="Search summary">
    <p class="search__results__summary font-size--16"></p>
        <b> Rate the answer: </b>
        {% for i in range(5) %}
            <img src="{{ url_for('static',filename='rating/rating.png') }}" width="20" height="20" id="star_{{i}}">
        {% endfor %}
        &nbsp;&nbsp;<img class="mt-2" id="ratings" src="{{ url_for('static',filename='rating/empty.png') }}" width="20" height="20">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='rating/rating.js') }}"></script>
  </p>
</section>

{% else %}

    <p class="search__results__meta font-size--16">
        <br> This is an experimental app for semantinc search of recent ONS bulletins.
        <br> <br>
        <h3> Please, type your question in the search field.  </h3>
        <br> Note that menu references point to the current live ONS webpage and are not part of this demo.
        <br> More info about this project can be found in <a href = "https://github.com/datasciencecampus/statschat">
            the code repository</a>.
    </p>

{% endif %}


{% endblock %}
